{% extends "base.html" %}
{% load static %}

{% block title %}{{ video.title }} - Sangabiz{% endblock %}

{% block content %}
<div class="container">
    <div class="video-detail">
        <div class="video-player-large">
            <iframe 
                width="100%" 
                height="500" 
                src="https://www.youtube.com/embed/{{ video.youtube_id }}" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
            </iframe>
        </div>
        
        <div class="video-info-detail">
            <h1>{{ video.title }}</h1>
            <div class="video-meta">
                <span class="video-views">
                    <i class="far fa-eye"></i>
                    {{ video.views }} views
                </span>
                <span class="video-likes">
                    <i class="far fa-thumbs-up"></i>
                    {{ video.likes }} likes
                </span>
                <span class="video-date">
                    <i class="far fa-calendar"></i>
                    {{ video.added_date|date:"M d, Y" }}
                </span>
            </div>
            
            {% if video.description %}
            <div class="video-description">
                <h3>Description</h3>
                <p>{{ video.description|linebreaks }}</p>
            </div>
            {% endif %}
            
            <div class="video-actions">
                <a href="{% url 'video-like' video.id %}" class="btn btn-primary">
                    <i class="far fa-thumbs-up"></i> Like
                </a>
                <button class="btn btn-secondary" onclick="shareVideo('{{ video.youtube_id }}', '{{ video.title|escapejs }}')">
                    <i class="fas fa-share"></i> Share
                </button>
            </div>
        </div>
    </div>
    
    {% if related_videos %}
    <section class="related-videos">
        <h3>Related Videos</h3>
        <div class="videos-grid">
            {% for related_video in related_videos %}
            <div class="video-card">
                <div class="video-thumbnail">
                    <img src="{{ related_video.thumbnail_url }}" alt="{{ related_video.title }}">
                    <div class="video-overlay">
                        <a href="{% url 'video-detail' related_video.id %}" class="play-button">
                            <i class="fas fa-play"></i>
                        </a>
                    </div>
                </div>
                <div class="video-info">
                    <h5>{{ related_video.title }}</h5>
                    <div class="video-meta">
                        <span>{{ related_video.views }} views</span>
                        <span>{{ related_video.added_date|timesince }} ago</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    {% endif %}
</div>
{% endblock %}