asgiref==3.9.2
certifi==2025.10.5
charset-normalizer==3.4.3
cloudinary==1.44.1
crispy-bootstrap5==2025.6
dj-database-url==3.0.1
Django==5.2.6
django-cloudinary-storage==0.3.0
django-crispy-forms==2.4
django-jazzmin==3.0.1
django-unfold==0.67.0
gunicorn==23.0.0
idna==3.10
mutagen==1.47.0
packaging==25.0
pillow==11.3.0
psycopg2-binary==2.9.11
requests==2.32.5
django-storages
signals==0.0.2
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.15.0
urllib3==2.5.0
whitenoise==6.11.0
